*{
    padding: 0;
    margin: 0;
}
.body{
    /* background: black; */
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffff;
     height: 65px;
    
}
.pages{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    
    
}
.pages a{
    text-decoration: none;
    color: black;
}
button{
    color: black;
    min-width: 84px;
    max-width: 480px;
    border-radius: 12px;
    background: #B2C4E5;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero{
    background: url(https://lh3.googleusercontent.com/aida-public/AB6AXuAYKFRxdYXCyZt_R25M0l0iIeR5scEOFHZlpc8u9OgTxrFXOc3-Pao9oAmpyvRDmWm12RBnkIPmO5cO2VwlIcoxfm77ZkIxQqOTxF66kOCh4g8oq1D4Vp26xNa0Xqliv8jsOsfBUCDtH8doz2Rq-AUG4kMMh88mxlR9E6xCavVU3rcf0jU5VF3YYVThsHTLtcuLwnZXh4_QIeX-9hPy6lTJTcz0xLX3-WITTdYMESn1XfVbay2yEy4r1p-CP_5UdkMlG2cjR57_ueY) no-repeat;
    width: 960px;
    height: 512px;
    min-height: 480px;
    border-radius: 12px;
    
    background-position:center ;
 } 
 .in{
       display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   top: 152px;
   left: 16px;
   gap: 8px;

 }
 
 
 .body{
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 1923px;
    background-color: beige;
 }
 .content{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    

 }
 .content img {
    width: 320;
    height: 171;
    border-radius: 12px;
 }
 footer{
     display: flex;
    flex-direction: column;
    width: 960px;
    height:152px;
    max-width: 960px;
    
 }
 .iinformation{
    display: flex;
    justify-content: space-between;
 }